/* Featured Equipments Section */

.featured-section {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.dash-fea-sec {
  height: 570px;
  overflow-y: scroll;
}
.dash-fea-sec::-webkit-scrollbar {
  display: none;
}

featured-title {
  font-size: 34px;
  line-height: 51px;
  font-weight: 600;
  font-family: Poppins;
}

.featured-filter {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.filter-category-select {
  background-color: #fff;
  border-radius: 30px;
  height: 50px;
  width: auto;
  padding: 10px 25px 10px 25px;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
}

.filter-category-select.mr {
  margin-right: 15px;
}

.filter-category-select select {
  background-color: transparent;
  border: 0px;
  font-size: 15px;
  color: #000;
  font-weight: 400;
}

.featured-item-box {
  position: relative;
  background-color: #fff;
  border-radius: 18px;
  padding: 15px 15px 20px 15px;
  margin-top: 35px;
  box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.06);
}
.featured-item-box button.fav {
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: #fff;
  position: absolute;
  top: 30px;
  right: 25px;
}

.feat-dash {
  padding: 12px 12px 18px 12px;
 
}
.feat-dash a{
  text-decoration: none;
}
.featured-item-image-box {
  border-radius: 18px;
  width: 100%;
  height: 220px;
}
.equi-dash .featured-item-image-box {
  height: 180px;
}
.equi-dash .featured-item-image-box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.featured-item-image-box img {
  border-radius: 18px;
  width: 100%;
  height: 100%;
}

.featured-item-content-box {
  padding: 28px 15px 5px;
}
.equi-dash .featured-item-content-box {
  padding: 22px 0px 5px;
}
.equi-dash .featured-item-content-box a{
  text-decoration: none;
}

.featured-item-content-box h4 {
  font-size: 22px;
  color: #000;
  font-weight: 500;
  margin: 0px 0px 15px;
}
.equi-dash .featured-item-content-box h4 {
  font-size: 20px;
  margin: 0px 0px 10px;
}

.featured-item-details {
  margin: 0px;
  padding: 0px;
}

.featured-item-details li {
  display: inline-block;
  color: #a7a7a7;
  font-size: 15px;
  position: relative;
  padding-right: 15px;
}

.featured-item-details li:last-child {
  padding-right: 0px;
  padding-left: 15px;
  border-left: 1px solid #a7a7a775;
}

.featured-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.featured-item-bottom-left {
  display: flex;
  align-items: center;
}

.featured-item-bottom-name {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  background-color: #f5f5f5;
  margin-right: 10px;
}
.equi-dash .featured-item-bottom-name {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.featured-item-bottom-right h5 {
  text-align: right;
  margin: 0px;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}
.equi-dash .featured-item-bottom-right h5 {
  font-size: 14px;
}

.featured-item-bottom-rating {
  display: flex;
  align-items: center;
}

.featured-item-bottom-rating span.name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  padding-right: 7px;
}
.equi-dash .featured-item-bottom-rating span.name{
  font-size: 14px;
}

.star {
  color: #ed8a19;
}

.featured-item-bottom-rating span.ratingNumber {
  font-size: 13px;
  font-weight: 400;
  color: #a7a7a7;
  padding-left: 7px;
}

.loadMore button {
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  margin-top: 35px;
}

.fav i {
  color: red;
}
